{% extends 'base.html' %}

{% block title %}{% if is_editing %}Редактирование курса{% else %}Создание курса{% endif %}{% endblock %}

{% block content %}

<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->




<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-10 col-lg-6 py-6 text-sm-start text-center">
            <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">{% if course.name %}Редактирование курса{% else %}Создание курса{% endif %}</h3>
            <p class="mb-4 fs-1"><a href="/course/{{ course._id }}">Открыть курс</a></p>      
            <form id="create_course" action="/update/" method="post">
                <div class="mb-3">
                    <label for="course_name" class="form-label">Название курса</label>
                    <input type="text" name="course_name" id="course_name" class="form-control" {% if course.name %}value="{{course.name}}"{% endif %} required>
                    <label for="course_description" class="form-label mt-1">Описание курса</label><br>
                    <textarea name="course_description" id="course_description" class="form-control min-vh-25" required>{% if course.description %}{{course.description}}{% endif %}</textarea>
                </div>
                    <h3>Задачи курса:</h3>
                    <input type="hidden" name="tasks_count" id="tasks_count" value="{{course.tasks | length}}">
                    <div id="tasks">
                    <ul>
                        {% if course.tasks %}
                            {% for task in course.tasks %}
                                <div class="mb-3">
                                    <li>
                                    <h5>{{task.name}}</h5>
                                    <a href="{{url_for('course.task_course_update', course_id=course._id, task_id=task._id, task_type=task.task_type)}}" target="_self">Редактировать задание</a>
                                    </li>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="mb-3">
                            <label>В курсе пока нет задач</label>
                        </div>
                        {% endif %}
                    </ul>
                    <div class="mb-4">
                        <select id='task_type' class="form-select form-select-lg">
                            {% for task_type in task_types %}
                                <option value='{{task_type}}' name=='{{task_type}}'>{{task_type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <button id="add_task" class="btn btn-sm btn-secondary">Добавить задание</button>
                    </div>
                </div>
                <button id="save_course" type="submit" class="btn btn-lg btn-primary">Сохранить курс</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(function() {
        $("#add_task").click(() => {
            task_type = $('#task_type option').filter(':selected').val()
            // TODO: make smth with this url
            res_url = "{{url_for('course.task_course_create', course_id=course._id, task_type=task_type)}}" + task_type
            window.location.href = res_url
        })

        $("#create_course").on('submit', function(event){
            event.preventDefault()
            $("#save_course").html("<span class='spinner-border spinner-border-sm'></span> Сохранение")
            event.preventDefault()
            var data = {
                'name': $("#course_name").val(),
                'description': $("#course_description").val()
            }
            
            $.ajax({
                url: "{{url_for('course.course_update', course_id=course._id)}}",
                type:'POST',
                contenType: 'application/json',
                data: data,
                success: function(resp){
                    $("#save_course").html("Курс сохранён")
                },
                error: function(resp){
                    $("#save_course").html("Что-то пошло не так! Попробуйте позже")
                },
            });
        })
    })
</script>

{% endblock %}