{% extends 'base.html' %}

{% block title %}Редактирование задачи{% endblock %}

{% block content %}

<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-10 col-lg-6 py-6 text-sm-start text-center">
            <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Редактирование задачи</h3>    
            <div id="task">
                <form id="task_form">
                    <label for="name" class="form-label">Название задачи</label>
                    <input type='text' id='name' name='name' value='{% if task %}{{task.name}}{% endif %}' class="form-control" required>
                    <label for="condition" class="form-label mt-1">Описание задачи</label>
                    <textarea id='condition' name='condition' class="form-control" required>{% if task %}{{task.condition}}{% endif %}</textarea>
                    <label for="score" class="form-label mt-1">Количество баллов</label>
                    <input type='number' id='score' name='score' value='{% if task %}{{task.score}}{% endif %}' class="form-control" min="1" required>
                    <label for="task_type" class="form-label mt-1">Тип задачи</label>
                    <input id='task_type' name='task_type' value='{{task_type}}' class="form-control" required disabled>
                    
                    {% block task_type %}
                    {% endblock %} 
                    
                    <div class="mt-3"><button type="submit" id="save_task" class="btn btn-primary">Сохранить задание</button></div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

