{% extends 'base.html' %}

{% block title %}Курс {{course.name}} 123 {% endblock %}

{% block content %}
<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="bg-holder d-sm-none"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-12 col-lg-6 py-6 text-sm-start text-center">
            <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">{{course.name}}</h3>
            <p class="mb-4 fs-1">{{task.name}}</p>
            <form id="task">
                <hr>
                <div>
                    <p>{{task.condition}}</p>
                    {% block task_passing %}
                    {% endblock %}
                </div>
                <hr>
                <button id="check_test" type="submit" class="btn btn-primary">Проверить</button>
                <div id='check_result'></div>                
            </form>
            <hr>
            <a class="btn btn-secondary" href={{next_url}}>Следующая</button>
            <a class='btn' href="{{url_for('course.course_page', course_id=course._id)}}">Курс</a>
            {% for task_it in course.tasks %}
                <a class='btn' href="{{url_for('course.task_page', course_id=course._id, task_id=task_it._id)}}">
                    {% if task_it._id != task._id %}
                        {{loop.index}}
                    {% else %}
                        Текущее задание
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
