{% extends 'courses_and_tasks/task_create.html' %}
{% block task_type %}
    <h1>BIG FIVE</h1>
    {% if task_type == 'big_five'%}
        <div id='task_check'>
            <ul id="task_check_list" class="list-group">
                <li style="list-style-type: none;" class="d-flex justify-content-start mb-2">
                    <input class="form-check-input mt-3 me-2" type="radio" name="answer">
                    <input type="text" class="form-control" value="Полностью не согласен" required disabled>
                </li>
                <li style="list-style-type: none;" class="d-flex justify-content-start mb-2">
                    <input class="form-check-input mt-3 me-2" type="radio" name="answer">
                    <input type="text" class="form-control" value="Немного не согласен" required disabled>
                </li>
                <li style="list-style-type: none;" class="d-flex justify-content-start mb-2">
                    <input class="form-check-input mt-3 me-2" type="radio" name="answer">
                    <input type="text" class="form-control" value="Не уверен" required disabled>
                </li>
                <li style="list-style-type: none;" class="d-flex justify-content-start mb-2">
                    <input class="form-check-input mt-3 me-2" type="radio" name="answer">
                    <input type="text" class="form-control" value="Немного согласен" required disabled>
                </li>
                <li style="list-style-type: none;" class="d-flex justify-content-start mb-2">
                    <input class="form-check-input mt-3 me-2" type="radio" name="answer">
                    <input type="text" class="form-control" value="Полностью согласен" required disabled>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    $(function() {
        $('#score').val(1)
        $("#task_form").on('submit', function (event) {
            $("#save_task").html("<span class='spinner-border spinner-border-sm'></span> Сохранение")
            event.preventDefault()
            console.log('task type', $('#task_type').val())
            var data = {
					'name': $("#name").val(),
                    'condition': $("#condition").val(),
                    'score': $("#score").val(),
                    'task_type': $('#task_type').val(),
                    'check': JSON.stringify({})
				}
            console.log(data)
                
            $.ajax({
				url: "{{url_for('course.task_course_update', course_id=course_id, task_id=task_id)}}",
				type:'POST',
				contenType: 'application/json',
				data: data,
				success: function(resp){
                    window.location.href="{{url_for('course.course_update', course_id=course_id)}}"
				},
				error: function(resp){
                    $("#save_task").html("Что-то пошло не так! Попробуйте позже")
				},
			});
        })

    })
</script>
{% endblock %}