<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CASEIN 21{% endblock %}</title>
        <base href="/">
        
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        {% block head %}
        {% endblock %}
  
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Lapis</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">Админ-панель</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Управление
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/course">Курсы</a></li>
                      <li><a class="dropdown-item" href="/users">Пользователи</a></li>
                      <li><a class="dropdown-item" href="/files">Файлы</a></li>
                      <!--<li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                    </ul>
                  </li>
                  <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>-->
                </ul>
              </div>
            </div>
          </nav>
        {% block content %}
        {% endblock %}
 
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>