{% extends 'base.html' %}

{% block title %}{% if is_editing %}Редактирование курса{% else %}Создание курса{% endif %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>{% if course.name %}Редактировать курс{% else %}Создать курс{% endif %}</h1>
            <a href="/course/{{ course._id }}">Открыть курс</a>
            <form id="create_course" action="/update/" method="post">
                <div class="mb-3">
                    <label for="course_name" class="form-label">Название курса</label>
                    <input type="text" name="course_name" id="course_name" class="form-control" {% if course.name %}value="{{course.name}}"{% endif %} required>
                    <label for="course_description" class="form-label">Описание курса</label><br>
                    <textarea name="course_description" id="course_description" required>{% if course.description %}{{course.description}}{% endif %}</textarea>
                </div>
                    <h3>Задачи курса:</h3>
                    <input type="hidden" name="tasks_count" id="tasks_count" value="{{course.tasks | length}}">
                    <div id="tasks">
                    <ul>
                        {% if course.tasks %}
                            {% for task in course.tasks %}
                                <div class="mb-3">
                                    <li>
                                    <h5>{{task.name}}</h5>
                                    <!--
                                    <div class="mb-3">
                                        <label for="name_{{loop.index0}}" class="form-label">Название задания</label>
                                        <input type="text" name="name_{{loop.index0}}" id="name_{{loop.index0}}" value="{{task.name}}" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="condition_{{loop.index0}}" class="form-label">Условие</label>
                                        <input type="text" name="condition_{{loop.index0}}" id="condition_{{loop.index0}}" value="{{task.condition}}" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="type_{{loop.index0}}" class="form-label">Тип задания</label>
                                        <input type="" name="type_{{loop.index0}}" id="type_{{loop.index0}}" value="{{task.task_type}}" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="check_{{loop.index0}}" class="form-label">Проверка</label>
                                        <input type="text" name="check_{{loop.index0}}" id="check_{{loop.index0}}" value="{{task.check['test']}}" class="form-control" required>
                                    </div>
                                    -->
                                    <a href="{{url_for('course.task_course_update', course_id=course._id, task_id=task._id)}}" target="_self">Редактировать задание</a>
                                    </li>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="mb-3">
                            <label>В курсе пока нет задач</label>
                        </div>
                        {% endif %}
                    </ul>
                </div>
                <button id="save_course" type="submit" class="btn btn-primary">Сохранить курс</button>
            </form>
        </div>
        <div class="col-2">
            <div class="mt-5">
                <button id="add_task" class="btn btn-secondary" onclick="window.location.href = '{{url_for('course.task_course_create', course_id=course._id)}}'" target="_self">Добавить задание</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $("#create_course").on('submit', function(event){
            event.preventDefault()
            $("#save_course").html("<span class='spinner-border spinner-border-sm'></span> Сохранение")
            event.preventDefault()
            var data = {
                'name': $("#course_name").val(),
                'description': $("#course_description").val()
            }
            
            $.ajax({
                url: "{{url_for('course.course_check', course_id=course._id)}}",
                type:'POST',
                contenType: 'application/json',
                data: data,
                success: function(resp){
                    $("#save_course").html("Курс сохранён")
                },
                error: function(resp){
                    $("#save_course").html("Что-то пошло не так! Попробуйте позже")
                },
            });
        })
    })
</script>

{% endblock %}