{% extends 'base.html' %}

{% block title %}Курс {{course.name}}{% endblock %}

{% block content %}

<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="bg-holder d-sm-none"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>


<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-12 col-lg-6 py-6 text-sm-start text-center">
            <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">{{course.name}}</h3>
            <p class="mb-4 fs-1">{{course.description}}</p>
            {% if current_user.has_role('admin') %}
            <div class="mt-5 mb-5 mx-auto" style="width: 150px">
                <a href="/course/update/{{ course._id }}" class="btn btn-secondary bg-gradient order-0">Редактировать</a>
            </div>
            {% endif %}
            <div class="mt-5 mb-5 mx-auto" style="width: 150px">
                {%if last_task is not none %}
                    <a href="{{url_for('course.task_page', course_id=course._id, task_id=last_task)}}" class="btn btn-secondary bg-gradient order-0">Последняя задача</a>
                {% else %}
                    <a href="{{url_for('course.task_page', course_id=course._id, task_id=course.tasks[0]._id)}}" class="btn btn-secondary bg-gradient order-0">Первая задача</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}