{% extends 'base.html' %}

{% set is_editing = course is defined and course %}

{% block title %}{% if is_editing %}Редактирование курса{% else %}Создание курса{% endif %}{% endblock %}

{% block content %}

<div>
    <h1>{% if is_editing %}Редактировать курс{% else %}Создать курс{% endif %}</h1>
    <form id="create_course" action="/update/" method="post">
        <label for="name">Course name</label>
        <input type="text" name="course_name" id="course_name" {% if is_editing %}value="{{course.name}}"{% endif %} required>
        <h3>Tasks:</h3>
        <input type="hidden" name="tasks_count" id="tasks_count" value="{% if is_editing %}{{course.tasks | length}}{% endif %}">
        <div id="tasks">
        {% if is_editing %}
            {% set i = 1 %}
            {% for task in course.tasks %}
                <div>
                <input type="text" name="name_{{i}}" id="name_{{i}}" value="{{task.name}}" required>
                <input type="text" name="condition_{{i}}" id="condition_{{i}}" value="{{task.condition}}" required>
                <input type="text" name="type_{{i}}" id="type_{{i}}" value="{{task.task_type}}" required>
                <input type="text" name="check_{{i}}" id="check_{{i}}" value="{{task.check['test']}}" required>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <input type="submit" value="Save">
    </form>
    <button id="add_task" onclick="add_new_task()">Add task</button>
</div>
{% endblock %}

{% block script %}
<script>
    var index = {% if is_editing %}{{course.tasks | length + 1}}{% endif %};
    function add_new_task() {
        var input_name = document.createElement("input")
        input_name.setAttribute('type', 'text')
        input_name.setAttribute('name', 'name_'+ index)
        input_name.setAttribute('id', 'name_'+ index)
        input_name.setAttribute('required', 'required')
        
        var input_condition = document.createElement("input")
        input_condition.setAttribute('type', 'text')
        input_condition.setAttribute('name', 'condition_'+ index)
        input_condition.setAttribute('id', 'condition_'+ index)
        input_condition.setAttribute('required', 'required')
        
        var input_type = document.createElement("input")
        input_type.setAttribute('type', 'text')
        input_type.setAttribute('name', 'type_'+ index)
        input_type.setAttribute('id', 'type_'+ index)
        input_type.setAttribute('required', 'required')

        var input_check = document.createElement("input")
        input_check.setAttribute('type', 'text')
        input_check.setAttribute('name', 'check_'+ index)
        input_check.setAttribute('id', 'check_'+ index)
        input_check.setAttribute('required', 'required')
        
        var new_task = document.createElement("div")
        new_task.appendChild(input_name)
        new_task.appendChild(input_condition)
        new_task.appendChild(input_type)
        new_task.appendChild(input_check)
        index++;
        document.getElementById("tasks").appendChild(new_task)
    }

    var form = document.getElementById("create_course")

    var course_id = location.pathname.split('/')[3]
    form.setAttribute("action", "/course/update/" + course_id)

    form.onsubmit = function(event){
        document.getElementById("tasks_count").value = index-1;       
    }
</script>

{% endblock %}