{% extends 'base.html' %}

{% block title %}Курсы{% endblock %}

{% block content %}

<div>
    <a href="/course/create">Создать курс</a>
</div>

<div class="container">
{% if courses is defined %}
    {% for course_row in courses | batch(3, '&nbsp;') %}
        <div class="row mb-4">
    {% for course in course_row %}
        {% if course.name %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{course.name}}
                    </h5>
                    <hr>
                    <p class="card-text">
                        Здесь будет представлена дополнительная информация о курсе.
                    </p>
                    <a href='/course/{{course._id}}' class="btn btn-primary">Открыть</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>       
    {% endfor%}
{% endif %}
</div>


{% endblock %}
