{% extends 'base.html' %}

{% block title %}Файлы{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-10 col-lg-6 py-6 text-sm-start text-center">
            <form id="export_collection_form" method="post">
                <div class="mb-3">
                    <label for="collection" class="form-label">Коллекция</label>
                    <select id="collection" name="collection" class="form-select form-select-lg">
                        {% for collection in collections %}
                            <option value="{{ collection }}">{{ collection }}</option>
                        {% endfor %}
                      </select>                  
                </div>
                <button id="export" type="submit" class="btn btn-lg btn-primary">Экспортировать</button>
            </form>
            <span id='success'></span>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(function() {

    $("#export_collection_form").on('submit', function (event) {
        $("#export").html("<span class='spinner-border spinner-border-sm'></span> Сохранение")
        event.preventDefault()
        var data = {
            'collection': $("#collection").val(),
            'document': $("#import_document").val(),
        }

            
        $.ajax({
            url: "{{url_for('import_and_export.export')}}",
            type:'POST',
            contenType: 'application/json',
            data: data,
            success: function(resp){
                $("#import").html("Успешно импортировано")
            },
            error: function(resp){
                $("#import").html("Что-то пошло не так! Попробуйте позже")
            },
        });
    })
})
    
</script>
{% endblock %}