{% extends 'base.html' %}

{% block title %}Курс {{course.name}} 123 {% endblock %}

{% block content %}
<div class="bg-holder d-none d-sm-block"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="bg-holder d-sm-none"
    style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
        <div class="col-md-12 col-lg-6 py-6 text-sm-start text-center">
            <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">{{course.name}}</h3>
            <p class="mb-4 fs-1">{{task.name}}</p>
            <form id="task">
                <hr>
                <div>
                    <p>{{task.condition}}</p> 
                    {% if task.task_type == 'test' %}
                        {% set test_type = (task and task.check['test']['test_type']) or 'radio' %}
                        <div id="{{task._id}}">
                            <ul id="{{task._id}}" class="list-group">
                                {% for (answer, text) in task.check['test']['answers'] %}
                                    <li style="list-style-type: none;"><input name="{{task._id}}" type="{{test_type}}" {% if test_type == 'radio' %}required{% endif %}><span>    {{text}}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <button id="check_test" type="submit" class="btn btn-primary">Проверить</button>
                <div id='check_result'></div>
            </form>
            <hr>
            <a href="{{url_for('course.course_page', course_id=course._id)}}">Курс</a>
            {% for task_it in course.tasks %}
                <a href="{{url_for('course.task_page', course_id=course._id, task_id=task_it._id)}}">
                    {% if task_it._id != task._id %}
                        {{loop.index}}
                    {% else %}
                        Текущее задание
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    // course = {{course.tasks}}
    // task = '{{task._id}}'
    $(function() {
        $('#task').on('submit', function(event){
            $("#check_test").html("<span class='spinner-border spinner-border-sm'></span> Проверка")
            event.preventDefault()
            var task_answers = []
            task_id = '{{task._id}}'
            $(`#${task_id} li`).each(function() {
                var [radio_btn, ans_text] = $(this).children()
                task_answers.push(radio_btn.checked)
            })
            console.log(JSON.stringify(task_answers))
            $.ajax({
				url: "{{url_for('course.task_check', course_id=course._id, task_id=task._id)}}",
				type:'POST',
                dataType: 'JSON',
				contenType: 'application/json',
				data: {
                    'answer': JSON.stringify(task_answers)
                },
				success: function(resp){
                    $("#check_test").html("Проверено")
                    $("#check_result").html(`<pre>${resp['result']}</pre>`)
                    console.log(resp)
				},
				error: function(resp){
                    console.log(resp.responseText)
                    $("#check_test").html("Что-то пошло не так! Попробуйте позже")
				},
			});
        })
    })
        
</script>
{% endblock %}
