{% extends 'base.html' %}

{% set is_editing = file is defined and file %}

{% block title %}{% if is_editing %}Редактирование докумета{% else %}Добавление документа{% endif %}{% endblock %}

{% block content %}

<div>
    <h1>{% if is_editing %}Редактировать документ{% else %}Создать документ{% endif %}</h1>
    
    <form id="create_document" method="post" enctype='multipart/form-data'>
        <input type=text name=title {% if is_editing %}value="{{file.title}}"{% endif %} required>
        <br><br>
        <input type=file name=file>
        <br><br>
        <input type="submit" value="Save">
    </form>
    
</div>
{% endblock %}
