{% extends 'base.html' %}

{% block title %}Пользователь {% if user.full_name == 'None' %} без имени {% else %}{{ user.full_name }}{% endif %}{% endblock %}

{% block content %}

<div class="bg-holder d-none d-sm-block" style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->

<div class="bg-holder d-sm-none" style="background-image:url(static/img/hero-bg.png);background-position:right top;background-size:contain;">
</div>
<!--/.bg-holder-->
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
    <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
      <h3 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">Профиль пользователя</h3>
      <p class="mb-4 fs-1">Для изменения данных обратитесь к администратору или адаптеру</p>
      <form>
        <fieldset disabled>
          <div class="mb-3">
            <label for="disabledTextInput1" class="form-label">Полное имя</label>
            {% if user.full_name == 'None' %}
            <input type="text" id="disabledTextInput1" class="form-control" value="Не указано">
            {% else %}
            <input type="text" id="disabledTextInput1" class="form-control" value="{{ user.full_name }}">
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="disabledTextInput2" class="form-label">E-mail</label>
            <input type="email" id="disabledTextInput2" class="form-control" value="{{ user.email }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput3" class="form-label">Роль</label>
            <input type="text" id="disabledTextInput3" class="form-control" value="{{ user.roles[0] }}">
          </div>
        </fieldset>
      </form>
      {% if current_user_has_user_role %}
        <label>Адаптер</label><br>
        {% if current_user.has_role('admin') %}
          <select id='select_user_adapter' name='select_user_adapter' class="form-select form-select-lg">
            {% for adapter in adapters %}
              <option id={{adapter._id}}>{{adapter.full_name}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary mt-3" id='set_adapter'>
            {% if user_adapter %}
              Переназначить адаптера
            {% else %}
              Назначить адаптера
            {% endif %}
          </button>
        {% elif current_user.has_role('adapter') %}
          {% if user_adapter %}
            {% if user_adapter.adapter.pk == current_user.pk %}
              <span>Вы адаптер этого сотрудника</span>
            {% else %}
              <span>У сотрудника уже есть адаптер</span>
            {% endif %}
          {% else %}
            <button id='volunteer' class="btn btn-primary">Назначить себя</button>
          {% endif %}
        {% else %}
          {% if user_adapter %}
            <span>Ваш адаптер: TODONAME</span>
          {% else %}
            <span>Вам ещё не назначили адаптера</span>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
$(()=>{
  {% if user_adapter %}
    $('#select_user_adapter').val('{{user_adapter.adapter.full_name}}')
  {% endif %}
  $('#volunteer').on('click', ()=>{
    $.ajax({
				url: "{{url_for('index.user_page', user_id=user.pk)}}",
				type:'POST',
        // dataType: 'JSON',
				contenType: 'application/json',
				data: {
            'adapter': null
        },
				success: function(resp){
          $("#volunteer").html("Назначен")
          console.log('success')
          console.log(resp)
				},
				error: function(resp){
          console.log('error')
          console.log(resp.responseText)
          $("#volunteer").html("Что-то пошло не так! Попробуйте позже")
				},
			});
  })

  $('#set_adapter').on('click', ()=>{
    $.ajax({
				url: "{{url_for('index.user_page', user_id=user.pk)}}",
				type:'POST',
				contenType: 'application/json',
				data: {
            'adapter': $('#select_user_adapter').children(":selected").attr("id")
        },
				success: function(resp){
          $("#set_adapter").html("Назначен")
          console.log('success')
          console.log(resp)
				},
				error: function(resp){
          console.log('error')
          console.log(resp.responseText)
          $("#set_adapter").html("Что-то пошло не так! Попробуйте позже")
				},
			});
  })
})
</script>

{% endblock %}