{% extends 'base.html' %}

{% block title %} Статистика по курсам {% endblock %}

{% block content %}
    

    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-75 min-vh-md-100">
            <div class="col-md-12 col-lg-6 py-6 text-sm-start text-center">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                    {% for course in courses %}
                        <th>{{course}}</th>
                    {% endfor %}
                    </tr>
                    {% for row in table %}
                        <tr>
                        
                            <th>{{users[loop.index0]}}</th>
                            {% for column in row %}
                                <td>
                                {{column}}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}